<?php
/**
 * This file is part of Reaction (RXN).
 *
 * @license MIT License (MIT)
 * @author David Wyly (davidwyly) <david.wyly@gmail.com>
 */

namespace Rxn;

/**
 * Class Config
 * @package Rxn
 */
class Config extends BaseConfig
{
    /**
     * Defines the root application folder
     * Note: Changing this has not been thoroughly tested!
     *
     * Default value: 'rxn'
     *
     * @var string
     */
    public $appFolder = 'rxn';

    /**
     * Defines the root vendor folder
     * Note: Changing this has not been thoroughly tested!
     *
     * Default value: 'vendor'
     *
     * @var string
     */
    public $vendorFolder = 'vendor';

    /**
     * Defines the vendor/product namespace for vendor models and controllers
     *
     * @var string
     */
    public $vendorNamespace = '\\Vendor\\Product';

    /**
     * Sets the filecache directory that needs special read/write permissions
     *
     * @var string
     */
    public $fileCacheDirectory = 'filecache';

    /**
     * Uncomment this below to define an application key for encryption
     */
    // public $applicationKey = "application key goes here";

    /**
     * Defines the root of the application and vendor folders relative to this file
     *
     * @var string
     */
    public $relativeRoot = "/../";

    /**
     * Defines the API response key that has request and response meta data
     *
     * @var string
     */
    public $responseLeaderKey = '_rxn';

    /**
     * Defines your default database settings
     *
     * @var array
     */
    public $databaseDefaultSettings = [
        'host'     => 'localhost',
        'name'     => 'database',
        'username' => 'username',
        'password' => 'secret',
        'charset'  => 'utf8',
    ];

    /**
     * Defines default keys for URL params and routing
     *
     * @var array
     */
    public $endpointParameters = [
        "version",
        "controller",
        "action",
    ];

    /**
     * enable or disable file caching of objects
     *
     * @var bool
     */
    public $useFilecaching = false;

    /**
     * enable or disable query caching of queries
     *
     * @var bool
     */
    public $useQuerycaching = false;

    /**
     * Extensions that work with the autoloader
     *
     * @var array
     */
    public $autoloadExtensions = [
        '.php',
        '.class.php',
        '.controller.php',
        '.model.php',
        '.record.php',
        '.interface.php'
    ];

    /**
     * enable or disable IO sanitization to help stop XSS attacks
     *
     * @var bool
     */
    public $useInputOutputSanitization = true;

    /**
     * Use a valid \DateTime timezone
     *
     * @var string
     */
    public $timezone = 'America/Denver';
}