<?php
/**
 * This file is part of Reaction (RXN).
 *
 * @license MIT License (MIT)
 * @author David Wyly (davidwyly) <david.wyly@gmail.com>
 */

namespace Rxn;

class Datasources extends ApplicationDatasources
{

    public $default_read  = 'read-only';

    public $defaultWrite = 'read-write';

    public $defaultAdmin = 'admin';

    public $databases = [
        'read-only' => [
            'host'     => 'localhost',
            'name'     => 'dbname',
            'username' => 'dbuser',
            'password' => 'secret',
            'charset'  => 'utf8',
        ],
        'read-write' => [
            'host'     => 'localhost',
            'name'     => 'dbname',
            'username' => 'dbuser',
            'password' => 'secret',
            'charset'  => 'utf8',
        ],
        'admin' => [
            'host'     => 'localhost',
            'name'     => 'dbname',
            'username' => 'dbuser',
            'password' => 'secret',
            'charset'  => 'utf8',
        ],
    ];
}